*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: #1a374d;
  }
  
  body {
    background-color: #b1d0e0;
  }
  
  #grid {
    display: grid;
    grid-template-areas:
      "images"
      "collection"
      "footer";
 }

 

  /* +++++++++++++++++> */
/* HEADER */
/* +++++++++++ */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: whitesmoke;
    padding: 0.5rem 0.5rem;
    z-index: 999;
  }
  
  header .header__logo {
    height: 3rem;
    width: 3rem;
  }
  
  header .header__logo img {
    width: 100%;
    border-radius: 50%;
  }
  
  header .header__burgerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    background-color: #b1d0e0;
    border: none;
    color: #1a374d;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.5s ease-in;
  }
  
  input#menu {
    display: none;
  }
  
  header button.header__burgerMenu:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  input#menu:checked ~ .header__menu {
    display: block;
  } 
  
  header .header__menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: whitesmoke;
  }
  
  header .header__menu .header__closeMenu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    
  }
  
  header .header__menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  header .header__menu ul li {
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 5px;
    padding: 0.5rem;
  }
  
  header .header__menu ul li:hover {
    background-color: #6998ab;
  }
  
  
  /* Media queries */
  
  @media screen and (min-width: 768px) {
  
    header .header__burgerMenu {
      display: none;
    }
  
    header .header__menu .header__closeMenu {
      display: none;
    }
  
    header .header__menu {
      display: initial;
      position: inherit;
    }
  
    header .header__menu ul {
      flex-direction: row;
      justify-content: space-evenly;
    }

  
  /* +++++++++++++++++> */
  /* FIN HEADER */
  /* +++++++++++ */



  
  /* +++++++++++++++++> */
/* FOOTER */
/* +++++++++++ */
footer {
    height: 3rem;
    background-color: #b1d0e0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  footer .footer__socialMediaContainer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  footer .footer__socialMediaContainer a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    color: #1a374d;
    background-color: #b1d0e0;
    border-radius: 50%;
    transition: color, background-color 0.5s ease-in;
  }
  
  footer .footer__socialMediaContainer a:hover {
    color: #406882;
    background-color: #406882;
  }
  
  footer .index__topButton{
      display: flex;
      align-self: flex-start;
  }


  /* Media queries */
  
  @media screen and (min-width: 460px) {
    footer .footer__socialMediaContainer a {
      font-size: 3rem;
      width: 3rem;
      height: 3rem;
    }
  }
  
  /* +++++++++++++++++> */
  /* FIN FOOTER */
  /* +++++++++++ */


  
/* +++++++++++++++++> */
/* HOME */
/* +++++++++++ */

.home__title{
  font-size: 3rem;
  text-align: center;
  color: #1a374d;
  text-shadow: 1px 2px #b1d0e0;
  padding: 2rem 0;
  width: 100%;
  text-align: center;
}

.home__mainContainer {
  background-color: #6998ab;
  box-shadow: 5px 5px 10px #1a374d;
  width: 95%;
  margin: 4rem auto;
  align-items: center;
}

.home__mainContainer section.home__categoriesContainer {
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-evenly;
  padding: 2rem;
  width: 80%;
  margin: 2rem auto;
  background-color:#b1d0e0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.home__mainContainer section.home__categoriesContainer .home__category--image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.home__mainContainer
  section.home__categoriesContainer
  .home__category--image
  a {
  font-size: 2rem;
  text-transform: uppercase;
  color: #b1d0e0;
  position: absolute;
  transition: all 0.5s ease-in;
}
.home__mainContainer
  section.home__categoriesContainer
  .home__category--image
  a:hover {
  color: #1a374d;
  background: #b1d0e0;
  width: 100%;
  text-align: center;
  padding: 0.3rem 0;
}

.home__mainContainer
  section.home__categoriesContainer
  .home__category--image
  .filter {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1a374d;
  width: 100%;
  height: 100%;
  transition: background-color 0.5s ease-in-out;
}

.home__mainContainer
  section.home__categoriesContainer
  .home__category--image
  .filter:hover {
  background-color: #406882;
}

.home__mainContainer section.home__table{
  border-collapse: collapse;
  width: 50%;
}
.home__tableTitle{
  font-size: 1rem;
  text-align: center;
  color: #1a374d;
  text-shadow: 1px 2px #b1d0e0;
  padding: 2rem 0;
  width: 100%;
  text-align: center;
}

.home__mainContainer section.home__table th, td {
  padding: 15px;
  text-align: left;
}
div.MasterpieceTitle {
  max-width: 100px;
  margin: auto;
}
div.MasterpieceDataSheet {
  max-width: 300px;
  margin: auto;
}
div.MasterpieceDescription {
  max-width: 500px;
  margin: auto;
}


/* Media queries */

@media screen and (min-width: 768px) {
  .home__mainContainer section.home__categoriesContainer {
    flex-direction: row;
    height: 300px;
  }

  .home__mainContainer section.home__table{
    border-collapse: collapse;
    width: 100%;
  }

  .home__tableTitle{
    font-size: 2rem;
    text-align: center;
  }
}

/* +++++++++++++++++> */
/* FIN HOME */
/* +++++++++++ */




/* +++++++++++++++++> */
/* ABOUT */
/* +++++++++++ */

.gridContainer {
  background-color: white;
  box-shadow: 5px 5px 10px #1a374d;
  width: 90%;
  margin: 4rem auto;
  align-items: center;
}

.gridContainer .info,
.gridContainer .photo {
  padding: 30px;
}

.gridContainer .photo img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 10px;
  justify-content: center;
}

.gridContainer .info h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.gridContainer .info p {
  text-align: justify;
}

/* Media queries */

@media screen and (min-width: 768px) {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

/* +++++++++++++++++> */
/* FIN ABOUT */
/* +++++++++++ */

/* +++++++++++++++++> */
/* GALLERY */
/* +++++++++++ */

#gallery__grid {
  padding: 2rem;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: 4rem auto;
  /* Grid */
  display: grid;
  grid-template-rows: 50px repeat(3, 1fr);
}

.gallery__section--header {
  grid-area: título;
  text-align: center;
  font-size: 1.2rem;
}

.img__1 {
  grid-area: principal;
}

.img__2 {
  grid-area: img2;
}
.img__3 {
  grid-area: img3;
}
.img__4 {
  grid-area: img4;
}
.img__5 {
  grid-area: img5;
}

#gallery__grid .gallery__section--grid {
  min-height: 100vh;
  margin: 1rem 0;
  padding: 2rem 0.5rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  /* GRID */
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 50px 300px repeat(2, 200px);
  grid-template-areas:
    "título título"
    "principal principal "
    "img2 img3"
    "img4 img5";
}

#gallery__grid .gallery__section--grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__topButton {
  background-color: white;
  height: 4rem;
  width: 4rem;
  color: gray;
  display: flex;
  font-size: 3rem;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
}

/* Media queries */

@media screen and (min-width: 768px) {

  .gallery__section--header {
    font-size: 2.5rem;
  }

  @media screen and (min-width: 768px) {
    @keyframes left-in{
      0% {
        left: -100%;
      }
      100% {
        left: 0%;
      }
    }
  }

  #gallery__grid h1{
  position: relative;
  font-size: 2rem;
  text-align: center;
  animation-name: left-in;
  animation-duration: 2s;
  }

  #gallery__grid .gallery__section--grid {
    margin: 2rem 0;
    padding: 4rem;
    /* GRID */
    grid-template-columns: 40% repeat(2, 30%);
    grid-template-rows: 50px repeat(2, 300px);
    grid-template-areas:
      "título título título"
      "principal img2 img3"
      "principal img4 img5";
  }
}

/* +++++++++++++++++> */
/* FIN GALLERY */
/* +++++++++++ */